# Subir solo archivos compilados para GitHub Pages (en la raíz)
# Todo lo demás se ignora

# Ignorar todo por defecto
*
*/

# Permitir estos archivos específicos
!.gitignore
!index.html
!404.html
!favicon.ico
!index.txt
!logotcl.png

# Permitir estos directorios y su contenido
!_next/
!_next/**/*
!assets/
!assets/**/*
